<div id="message-container-{{ message.id }}">
    <div class="pb-4 mt-4 flex flex-col items-start max-w-4xl">
        <div class="flex items-start gap-2 w-full">
            <div id="placeholder"
                class="shrink-0 inline-flex items-center justify-center size-[38px] rounded-lg bg-gray-800 self-start">
                <span class="font-medium text-white dark:text-gray-300">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2"
                            d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
                        <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                </span>
            </div>
            <div class="flex flex-col gap-1 w-full">
                <div class="flex flex-col sm:flex-row justify-between leading-1.5 p-2 border-gray-200 rounded-lg">
                    <div id="message-content-{{ message.id }}"
                        class="text-md font-normal text-gray-900 dark:text-gray-200 flex-grow markdown-content">
                        {{ message.get_content_as_markdown|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>