<div id="code-block-{{ message_id }}-{{ block_id }}" class="code-example mb-4 overflow-hidden rounded-lg border border-gray-200 dark:border-gray-700">
    <div id="code-header" class="w-full p-2 bg-gray-50 dark:bg-gray-700 relative">
        <div>
            <button id="language-button-{{ message_id }}-{{ block_id }}" type="button"
               class="inline-flex items-center justify-center h-8 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:ring-2 focus:ring-gray-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-500">
                <span class="language-label">{{ language }}</span>
            </button>
        </div>
        <div class="absolute top-2 right-2">
            <button id="copy-button-{{ message_id }}-{{ block_id }}" onclick="copyCode('{{ message_id }}-{{ block_id }}')"
               class="inline-flex items-center justify-center h-8 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:ring-2 focus:ring-gray-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-500">
                <svg class="w-3.5 h-3.5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="currentColor" viewBox="0 0 18 20">
                    <path d="M5 9V4.13a2.96 2.96 0 0 0-1.293.749L.879 7.707A2.96 2.96 0 0 0 .13 9H5Zm11.066-9H9.829a2.98 2.98 0 0 0-2.122.879L7 1.584A.987.987 0 0 0 6.766 2h4.3A3.972 3.972 0 0 1 15 6v10h1.066A1.97 1.97 0 0 0 18 14V2a1.97 1.97 0 0 0-1.934-2Z"></path>
                    <path d="M11.066 4H7v5a2 2 0 0 1-2 2H0v7a1.969 1.969 0 0 0 1.933 2h9.133A1.97 1.97 0 0 0 13 18V6a1.97 1.97 0 0 0-1.934-2Z"></path>
                </svg>
                <span class="copy-text">Copy</span>
            </button>
        </div>
    </div>
    <div class="code-syntax-wrapper overflow-x-auto">
        <pre class="p-4 m-0"><code class="language-{{ language }} text-sm">{{ code }}</code></pre>
    </div>
</div>

<script>
function copyCode(id) {
    const codeBlock = document.querySelector(`#code-block-${id} pre code`);
    const copyButton = document.querySelector(`#copy-button-${id} .copy-text`);
    
    if (codeBlock) {
        navigator.clipboard.writeText(codeBlock.textContent).then(() => {
            copyButton.textContent = 'Copied!';
            setTimeout(() => {
                copyButton.textContent = 'Copy';
            }, 2000);
        }).catch(err => {
            console.error('Failed to copy text: ', err);
        });
    }
}
</script>