<div id="message-container-{{ message.id }}">
    <div id="message-{{ message.id }}" class="pb-4 mt-4 flex flex-col items-end">
        {% if message.images.all %}
        <div id="images-content"
            class="grid gap-2 {% if message.images.count == 1 %}grid-cols-1{% elif message.images.count == 2 %}grid-cols-2{% else %}grid-cols-2{% endif %} my-2.5">
            {% for image in message.images.all %}
            <div class="group relative">
                <div
                    class="absolute w-full h-full bg-gray-900/50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg flex items-center justify-center">
                    <a href="{{ image.image.url }}" download data-tooltip-target="download-image-{{ image.id }}"
                        class="inline-flex items-center justify-center rounded-full h-8 w-8 bg-white/30 hover:bg-white/50 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50">
                        <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 16 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3" />
                        </svg>
                    </a>
                    <div id="download-image-{{ image.id }}" role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                        Download image
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
                <img src="{{ image.image.url }}" class="rounded-lg w-30 h-30 object-cover" alt="User uploaded image" />
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div id="msg-content" class="p-4 rounded-lg bg-gray-200 dark:bg-gray-700">
            <div id="message-content-{{ message.id }}"
                class="text-md font-normal text-gray-900 dark:text-gray-200 markdown-content">
                {{ message.content }}
            </div>
        </div>
    </div>
</div>