<!DOCTYPE html>
{% load compress %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Django/Htmx Chat</title>


    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>

    <!-- External CSS -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />


    <!-- Compressed CSS -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/markdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    {% endcompress %}

    <!-- External JS -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

    <!-- Compressed JS -->
    {% compress js %}

    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/ws.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>

    {% endcompress %}



</head>

<body class="flex flex-col dark:bg-gray-900">
    {% block content %}
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    {% compress js %}
    <script src="{% static 'js/input-focus.js' %}"></script>
    <!-- <script src="{% static 'js/darkmode.js' %}"></script> -->
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/syntax-highlight.js' %}"></script>
    {% endcompress %}
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>

</body>

</html>